.Title {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-decoration: none;
    color: rgb(11, 83, 69);
    
}

.Form {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.Item-form {
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    padding: 10px;
    justify-content: space-around;
    width: 30%;
    color: rgb(11, 83, 69);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(204, 209, 209);


}