.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: darkslategrey;
}

.contenedorLista {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
}

